//Klima

@font-face {
    font-family: 'Klima';
    src: url('/fonts/klima-regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
  font-family: 'Klima';
  src: url(/fonts/klima-bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Klima';
  src: url(/fonts/klima-regular-italic.otf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Klima';
  src: url(/fonts/klima-bold-italic.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Klima';
  src: url(/fonts/klima-black.otf);
  font-weight: 900;
}

@font-face {
  font-family: 'Klima';
  src: url(/fonts/klima-black-italic.otf);
  font-weight: 900;
  font-style: italic;
}

//Manifold

@font-face {
    font-family: 'ManifoldDSA';
    src: url('/fonts/ManifoldDSA-DemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ManifoldDSA';
    src: url('/fonts/ManifoldDSA-DemiBoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ManifoldDSA';
    src: url('/fonts/ManifoldDSA-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'ManifoldDSA';
    src: url('/fonts/ManifoldDSA-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
