@require './font.styl'

svg.icon.outbound, .header-anchor {
    display: none;
}

#inspire {
  background-color: #EC1E27;
}

.title {
  font-family: 'Klima';
  //font-weight: 900;
  font-size: 100px;
}

.intro {
  font-family: 'Klima';
  font-style: italic;
}

.v-card__text {
  font-family: 'Klima';
}

.action {
  display: flex;
  flex-direction: column
}

